<footer class="page-footer brown darken-1">
      <div class="container">
        <div class="row">
          <div class="col s4 offset-s4">
            <h5 class="white-text center-align">Pruebas de Software</h5>	
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center-align">
        © 2017 Universidad de Antioquia
        </div>
      </div>
    </footer>