<nav class="brown darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><img style="margin-top: 10px; margin-right: 10px" class="left" width="43" height="43" src="https://openfin.co/wp-content/uploads/2015/05/nodejs_logo.png"><span style="font-size: 1.3rem">Program 4 - Relative size ranges</span></a>
    </div>
  </nav>